<div class="container-fluid" style="margin-bottom: 20px;">
  <img class="img-responsive" src="assets/car1.jpg">
</div>
<div class="container text-center">
  <h1>Choose your favorite trip</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/thumb.jpg">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Some text asdhsdijf gasdgh adfhfiadh fdvb uhfa bvhabvahsvbhcobvj</p>
          <p class="text-center"><a  class="btn btn-primary" role="button">More</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/thumb.jpg">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Some text asdhsdijf gasdgh adfhfiadh fdvb uhfa bvhabvahsvbhcobvj</p>
          <p class="text-center"><a  class="btn btn-primary" role="button">More</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/thumb.jpg">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Some text asdhsdijf gasdgh adfhfiadh fdvb uhfa bvhabvahsvbhcobvj</p>
          <p class="text-center"><a  class="btn btn-primary" role="button">More</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/thumb.jpg">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Some text asdhsdijf gasdgh adfhfiadh fdvb uhfa bvhabvahsvbhcobvj</p>
          <p class="text-center"><a  class="btn btn-primary" role="button">More</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/thumb.jpg">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Some text asdhsdijf gasdgh adfhfiadh fdvb uhfa bvhabvahsvbhcobvj</p>
          <p class="text-center"><a  class="btn btn-primary" role="button">More</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/thumb.jpg">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Some text asdhsdijf gasdgh adfhfiadh fdvb uhfa bvhabvahsvbhcobvj</p>
          <p class="text-center"><a  class="btn btn-primary" role="button">More</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/thumb.jpg">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Some text asdhsdijf gasdgh adfhfiadh fdvb uhfa bvhabvahsvbhcobvj</p>
          <p class="text-center"><a  class="btn btn-primary" role="button">More</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/thumb.jpg">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Some text asdhsdijf gasdgh adfhfiadh fdvb uhfa bvhabvahsvbhcobvj</p>
          <p class="text-center"><a  class="btn btn-primary" role="button">More</a></p>
        </div>
      </div>
    </div>
  </div>
</div>