<div class="top-image-container" *ngIf="config">
  <div class="top-image">
    <img src="{{config.mainImgUrl}}" [style.bottom]="backgroundPositionY + 'px'"/>
  </div>
  <div class="mat-typography header-info">
    <h1>Bla bla wonders of ...</h1>
    <a md-button class="recomended-trip-button" [routerLink]="[config.recomended]">Recomended Trip</a>
  </div>
</div>



<!-- <div class="top-image" *ngIf="config" [ngStyle]="{'background-image': 'linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url(' + config.mainImgUrl + ')'}"
  [style.background-position-y]="backgroundPositionY + 'px'">
  <div class="mat-typography header-info">
    <h1>Bla bla wonders of ...</h1>
    <a md-button class="recomended-trip-button" [routerLink]="[config.recomended]">Recomended Trip</a>
  </div>
</div> -->
<div class="container text-center mat-typography" *ngIf="config">
  <h1>Choose your favorite trip</h1>
</div>
<div class="container mat-typography" *ngIf="config">
  <div class="cards-container" *ngFor="let card of config.cards">
    <div class="mat-elevation-z5">
      <div class="card-image">
        <img src="{{card.imgUrl}}" alt="Trip image" class="img-responsive">
        <div class="hover-info">
          <p>{{card.text}}</p>
          <h1>Price: <strong>${{card.price}}</strong></h1>
          <div>
            <button md-raised-button color="primary" (click)="openDialog(card.name, card.id)">Book</button>
          </div>
        </div>
      </div>
      <h1 class="card-name">{{card.name}}</h1>
      <div class="center-buttons">
        <a md-button color="accent" routerLink="{{card.id}}">MORE</a>
      </div>
    </div>
  </div>
</div>