<div class="top-image"  *ngIf="config" [ngStyle]="{'background-image': 'linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url(' + config.mainImgUrl + ')'}">
  <div class="mat-typography header-info">
    <h1 class="price-tag">Only for $9.99</h1>
  </div>
</div>
<div class="container text-center mat-typography" *ngIf="config">
  <h1>{{config.mainText}}</h1>
</div>
<div class="container mat-typography"  *ngIf="config">
  <div class="container-row" *ngFor="let prop of config.prop; let even = even; let odd = odd">
    <div class="container-col container-text text-left" *ngIf="even">
      <h1>{{prop.bigText}}</h1>
      <p>{{prop.smallText}}</p>
    </div>
    <div class="container-col">
      <img class="img-responsive" src="{{prop.imgUrl}}">
    </div>
    <div class="container-col container-text text-right" *ngIf="odd">
      <h1>{{prop.bigText}}</h1>
      <p>{{prop.smallText}}</p>
    </div>
  </div>
</div>
