<div class="top-image-container" *ngIf="config">
  <div class="top-image">
    <img src="{{config.mainImgUrl}}" [style.bottom]="backgroundPositionY + 'px'"/>
  </div>
  <div class="mat-typography header-info">
    <h1 class="price-tag">Only for $9.99</h1>
  </div>
</div>
<div class="container text-center mat-typography" *ngIf="config">
  <h1>{{config.mainText}}</h1>
</div>
<div class="container mat-typography" *ngIf="config">
  <div class="middle-line">
  </div>
  <div class="container-row" *ngFor="let prop of config.prop; let even = even; let odd = odd">
    <div class="container-col-nopad container-text text-left" *ngIf="even">
      <h1>{{prop.bigText}}</h1>
      <p>{{prop.smallText}}</p>
    </div>
    <div class="container-col-nopad">
      <img class="img-responsive border-img" src="{{prop.imgUrl}}" [ngClass]="{'border-left': odd, 'border-right': even}">
    </div>
    <div class="container-col-nopad container-text text-right" *ngIf="odd">
      <h1>{{prop.bigText}}</h1>
      <p>{{prop.smallText}}</p>
    </div>
  </div>
</div>
<div class="button-container mat-typography">
  <button md-raised-button color="primary" class="large-button" (click)="goToPlaces()">See Other Trips</button>
  <button md-raised-button color="primary" (click)="openDialog()" class="large-button">Book Trip</button>
</div>