.app-nav{
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: initial;
    z-index: 1000;
    position: fixed;
    justify-content: center;
    align-items: center;
}
.app-nav-fixed{
    background-color: transparent;
    min-height: 80px;
}
.nav-link-active{
    color: #939393;
}
.show-mobile{
    visibility: hidden;
    clear: both;
    float: left;
    display: none;
}
@media screen and (max-width: 600px){
    .hidden-links{
        visibility: hidden;
        clear: both;
        float: left;
        display: none;
    }
    .show-mobile{
        visibility: visible;
        clear: none;
        float: none;
        display: block;
    }
    .fill-width{
        flex: 1 1 auto;
    }
    .app-nav{
        align-items: unset;
    }
}
