<nav class="navbar navbar-default navbar-fixed-top mat-elevation-z10 showShadow app-nav" [ngClass]="{'app-nav-fixed': navIsFixed === true}">
  <div class="container-fluid nav-inner">
    <div class="navbar-header">
      <a class="navbar-brand app-logo" routerLink="/home">
        <img alt="Brand" src="assets/logo.png" height="100%">
        <strong>{{title}}</strong>
      </a>
    </div>
    <ul class="nav nav-center navbar-nav">
      <li><a routerLink="/vinales">Viñales</a></li>
      <li><a routerLink="/varadero">Varadero</a></li>
      <li><a routerLink="/zapata-swamp">Zapatas's Swamp</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
