.app-nav{
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: initial;
    z-index: 1000;
    position: fixed;
    justify-content: center;
    min-height: 64px;
    height: 64px;
    padding-left: 8%;
    padding-right: 8%;
}
.app-nav-fixed{
    background-color: transparent;
    
}
.nav-link-active{
    color: #939393;
}
.app-footer{
    background-color: #AAAAAA;
    border-top: 1px solid #999999;
    margin-top: 15px;
}
.show-mobile{
    visibility: hidden;
    clear: both;
    float: left;
    display: none;
}
.fill-width{
    flex: 1 1 auto;
}
@media screen and (max-width: 920px){
    .app-nav{
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (max-width: 600px){
    .hidden-links{
        visibility: hidden;
        clear: both;
        float: left;
        display: none;
    }
    .show-mobile{
        visibility: visible;
        clear: none;
        float: none;
        display: block;
    }
    .fill-width{
        flex: 1 1 auto;
    }
    .app-nav{
        align-items: unset;
    }
}
