<md-toolbar [ngClass]="{'app-nav-fixed': !navIsFixed, 'mat-elevation-z1': navIsFixed}" class="app-nav" color="warning">
  <md-menu #appMenu="mdMenu">
    <button md-menu-item routerLink="/vinales"> Viñales </button>
    <button md-menu-item routerLink="/varadero"> Varadero </button>
    <button md-menu-item routerLink="/zapata-swamp"> Zapata's Swamp </button>
  </md-menu>
  <a md-button routerLink="/home" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{ exact: true }">
    <img src="assets/logo.png" height="26px">
    <strong>{{title}}</strong>
  </a>
  <span class="fill-width"></span>
  <button md-icon-button [mdMenuTriggerFor]="appMenu" class="show-mobile">
    <md-icon>more_vert</md-icon>
  </button>
  <a md-button routerLink="/vinales" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{ exact: true }" class="hidden-links">Viñales</a>
  <a md-button routerLink="/varadero" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{ exact: true }" class="hidden-links">Varadero</a>
  <a md-button routerLink="/zapata-swamp" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{ exact: true }" class="hidden-links">Zapata's Swamp</a>
</md-toolbar>
<router-outlet></router-outlet>
