<swiper #carousel [config]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="slide0-image slide-image"></div>
      <div class="slide-text">
        <a mat-button class="recomended-trip-button mat-typography" routerLink="/vinales">Visit Viñales</a>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="slide1-image slide-image"></div>
      <div class="slide-text">
        <a mat-button class="recomended-trip-button mat-typography" routerLink="/varadero">Visit Varadero</a>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="slide2-image slide-image"></div>
      <div class="slide-text">
        <a mat-button class="recomended-trip-button mat-typography" routerLink="/zapata-peninsula">Visit Zapata Peninsula</a>
      </div>
    </div>
  </div>
  <!-- <div class="swiper-pagination"></div> -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <button mat-fab class="scroll-down" (click)="scrollDownCarousel()">
    <mat-icon>arrow_downward</mat-icon>
  </button>
</swiper>
<div class="mat-typography container">
  <div class="two-col-container">
    <h1>Maybe some text here</h1>
    <div>
      <a mat-raised-button color="primary" routerLink="varadero/dupon">More</a>
      <button mat-raised-button color="primary" (click)="openDialog('Dupon', 'dupon', 25)">Book Trip</button>
    </div>
  </div>
  <div class="two-col-container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
      irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<div class="parallax parallax__img-1 mat-typography">
</div>
<div class="mat-typography container">
  <div class="two-col-container">
    <h1>Maybe some text here</h1>
    <div>
      <a mat-raised-button color="primary" routerLink="vinales/cueva-indio">More</a>
      <button mat-raised-button color="primary" (click)="openDialog('Cueva del indio', 'cueva-indio', 50)">Book Trip</button>
    </div>
  </div>
  <div class="two-col-container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
      irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<div class="parallax parallax__img-2 mat-typography">
</div>
