<swiper #carousel [config]="config" (mouseenter)="carousel.Swiper.stopAutoplay()" (mouseleave)="carousel.Swiper.startAutoplay()">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="assets/car1.jpg" width="100%">
      <a routerLink="/vinales">
        <div class="slide-text mat-typography">
          <h1>Visit Vinales</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </a>
    </div>
    <div class="swiper-slide">
      <img src="assets/car2.jpg" width="100%">
      <a routerLink="/varadero">
        <div class="slide-text mat-typography">
          <h1>Visit Varadero</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </a>
    </div>
    <div class="swiper-slide">
      <img src="assets/car3.jpg" width="100%">
      <a routerLink="/zapata-swamp">
        <div class="slide-text mat-typography">
          <h1>Visit Zapata's Swamp</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </a>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>


<div class="mat-typography container">
  <div class="text-center">
    <h1>Maybe some text here</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="center-block">
    <img class="img-responsive" src="assets/car1.jpg">
  </div>
</div>

<div class="parallax text-center mat-typography">
  <h1>Some text here</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<h1>asd</h1>
<h1>asd</h1>
<h1>asd</h1>
<h1>asd</h1>

<h1>asd</h1>
<h1>asd</h1>
<h1>asd</h1>
<h1>asd</h1>
<h1>asd</h1>
v
<h1>asd</h1>
<h1>asd</h1>
<h1>asd</h1>
<h1>asd</h1>
<h1>asd</h1>
<h1>asd</h1>
<h1>asd</h1>
<h1>asd</h1>